html {
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bgstyle {
  /* background: linear-gradient(136deg, #1ad7c0, #8E44AD, #ff9b11, #1F3A93, #ddd8c6, #000000, #000000);  */
  /*background: linear-gradient(
    136deg,
    #4484ce,
    #1ad7c0,
    #ff9b11,
    #9b59b6,
    #ff7f7f,
    #ecf0f1
  );*/

  background-size: 1200% 1200%;
  -webkit-animation: BackgroundAnimation 70s ease infinite;
  -moz-animation: BackgroundAnimation 70s ease infinite;
  -o-animation: BackgroundAnimation 70s ease infinite;
  animation: BackgroundAnimation 70s ease infinite;
  height: 100%;
}

.bg-gradient {
  background: linear-gradient(rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
}

.navbar-transparent {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s;
}
.navbar-white {
  background-color: rgba(234, 236, 239, 0.81);
  transition: background-color 0.2s;
}
.brand {
  color: #363636 !important;
}
.nav-link {
  transition: color, 0.2s;
}
.toggler {
  border: none;
  padding: 4px;
  border-radius: 4px;
  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
}
.socialicons {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.8s;
  margin: 4px;
  &:hover {
    color: #CCAC00;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.8s;
    margin: 4px;
  }
}

.title {
  height: 100%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin-top: 0px;
}

.typist {
  min-height: 6rem;
  @media (min-width: 360px) {
    min-height: 4rem;
  }
  @media (min-width: 768px) {
    min-height: 2.5rem;
  }
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    box-shadow: 0 2rem 3rem rgba($black, 0.175) !important;
    transform: translateY(-2px);
    transition: transform 0.3s, box-shadow 0.3s;
  }
}
.skills-tabs {
  flex-grow: 1;
}
.skills-tab {
  flex-grow: 1;
  text-align: center;
}

.progress {
  transform-origin: left;
  & > * {
    transform: scaleX(0);
  }
}
.progress-bar-animation {
  @extend .progress;
  & > * {
    animation: progress 1.5s ease-in-out forwards;
  }
}

// MY CSS ---------------------------------------------------------------

.sectionHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pageHeading {
  user-select: none;
}

.shopEmbedContainers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

.shopModule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.shopDescriptionText {
  font-size: 16px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tbdText {
  margin-top: 16vh;
  margin-bottom: 20vh;
}

.img {
  width: 50%;
}

.howToPlayBody {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.howToPlayLeftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.howToPlayRightColumn {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  height: 40vh;
  justify-content: space-evenly;
  align-items: flex-start;
}

.howToPlayTextHeading {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5%;
}

.howToPlayTextBody {
  font-size: 18px;
}

.videoAndTextModule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkText {
  margin-top: 2%;
}

.loreText {
  width: 40%;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loreTextScroller {
  max-height: 50vh;
  overflow-y: auto;
}

.loreTextEntry {
  font-size: 14px;
  margin-bottom: 2%;
}

.loreTextSetMarker {
  font-size: 14px;
  margin-bottom: 5%;
  font-weight: bold;
}

// DATABASE

.database {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 66vh;
  margin-bottom: -6%;
  margin-top: -3%;
}

.databaseInfoPanel {
  width: 30vw;
  height: 60vh;
}

.databaseScrollContainer {
  width: 50vw;
  height: 65vh;
  overflow-y: scroll;
  padding-top: 1%;
}

.databaseCheckboxHeader {
  margin-top: 5vh;
}

.checkBoxes {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: -0.5vh;
}

.checkBoxLabel {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  display: flex;
  font-weight: normal;
}

.databaseImage {
  height: 30vh;
  width: 12vw;
  filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.25));
  content-visibility: auto;
}

.databaseImage:hover {
  cursor: zoom-in;
}

.cardInfoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(234, 236, 239, 0.81);
  padding: 0.5%;
  padding-bottom: 0%;
}

.cardInfo {
  font-size: 18px;
  padding-bottom: -4%;
}

.cardModal {
  display: block;
  z-index: 1040;
  border: 1px solid #e5e5e5;

}

.cardModalImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardModalImage {
  width: 120%;
  background-color: white;
  border-radius: 25px;
  padding: 0% 0.5% 0% 0.5%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.newsArticle {
  padding: 1%;
  border-style: solid;
  border-width: 0.75px;
  border-color: lightgray;
}


.articleDate {
  font-size: 18px;
  font-style: italic;
}

.articleTitle {
  font-size: 28px;
  font-weight: bold;
}

.newsArticleScrollContainer {
  overflow-y: scroll;
  height: 52vh;
}

.newsArticle {
  margin-bottom: -5%;
  margin-top: -5%;
}
